<div class="form">
  <%= simple_form_for(@owner_record) do |f| %>
    <%= f.input :date %>
    <%= f.input :type %>
    <%= f.input :description %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
