<h2>Carga alguna informacion</h2>
<div class="container">
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
<%= simple_form_for(@owner_record) do |f| %>
  <div class="form-inputs">
    <%= f.input  :date,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "date" }%>
    <%= f.input :type,
                required: true,
                input_html: { autocomplete: "type" } %>
    <%= f.input :description,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "description" }%>
    <%= f.input :photo, as: :file %>
  </div>
  <div class="form-actions">
          <%= f.button :submit, class: "btn-primary" %>
        </div>
<% end %>
