<div class="container justify-content center">
  <%# <%= cl_image_tag locals[:place].photo.key, height: 400, width: 600, crop: :fill %>
  <%#= cl_image_tag @pet.photo.key, height: 300, width: 400, crop: :fill %>

  <h2><%= @owner_record.name %></h2>
  <p><%#= ISO3166::Country[@pet.country].common_name
 %></p>
  <p><%= @owner_record.gender %></p>
  <p><%= @owner_record.breed %></p>
  <p>Owner: <%= @owner_record.user.email %></p>
<div class="btn-group" role="group" aria-label="Basic example">
  <%= button_to "Back to records", pet_path, method: :get, class: "btn btn-primary" %>
  <%= button_to "Edit record", edit_owner_record_path(@owner_record), method: :get, class: "btn btn-primary" %>
  <%= button_to "Eliminar",  owner_record_path(@owner_record), method: :delete, class: "btn btn-primary", data: {turbo_confirm: "Estas seguro?"} %>
  <%#= link_to "Reservar", (@pet), class: "btn btn-primary"  %>
  <%# TODO: el boton de 'Reservar' no funciona, por lo que se debe agregar la funcionalidad :) %>
</div>
