<div class="row justify-content-center">
  <div class="col-10 col-md-3 mt-5 pt-5">
    <h1 class="h3 mb-3 fw-normal text-center">Inicio de sesion</h1>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.input :email,
                  class:  "form-floating",
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  class:  "form-floating",
                  required: false,
                  input_html: { autocomplete: "current-password" } %>

    <div class="checkbox mb-3">
      <label>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </label>
    </div>

    <%= f.button :submit, "Log in", class: "w-100 btn btn-lg btn-primary mb-3" %>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
