<div class="card-trip">
  <img src="https://images.unsplash.com/photo-1573865526739-10659fec78a5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y2F0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
  <div class="card-trip-infos">
    <div>
      <h2 class="card-title"><%= link_to(locals[:pet].name, locals[:pet], class:"text-secondary")%></h2>
      <p><strong>Genero:</strong><%= locals[:pet].gender %></p>
      <p><strong>Fecha de Nacimiento:</strong><%= locals[:pet].birthdate %></p>
    </div>
    <h2 class="card-trip-pricing"><%= link_to(locals[:pet].name, locals[:pet], class:"text-secondary")%></h2></h2>
    <p><strong>Especie:</strong><%= locals[:pet].specie %></p>
  </div>
</div>
