<div class="container">
  <section class="my-5">
   <div class="row">
    <% @pets.each do |pet| %>
     <div class="col-3">
    <div class="card testimonial-card mt-2 mb-3">
      <div class="card-up aqua-gradient"></div>
      <div class="avatar mx-auto white">
      <%= cl_image_tag pet.photo.key, height: 500, width: 500, crop: :fill, class:"rounded-circle img-fluid", alt:"woman avatar"%>
      </div>

      <div class="card-body text-center">
      <h1 class="card-title font-weight-bold"><p><i></i> <strong></strong></i> <%= pet.name%></p>
        <h4 class="card-title font-weight-bold"><p><i class="fa-solid fa-venus-mars"></i> <strong>Gender</strong></i> <%= pet.gender%></p>
         <p><i class="fa-solid fa-cake-candles"></i> <strong>Birthdate</strong> <%= pet.birthdate%></p>
          <p><i class="fa-solid fa-dog"></i> <strong>Breed</strong> <%= pet.breed%></p>
          <p><i class="fa-solid fa-bolt"></i> <strong>Specie</strong> <%= pet.specie%></p>
          <%= button_to "Ver mascota", pet_path(pet),method: :get, class:"btn btn-warning w-100" %>
      </div>
    </div>
    </div>
    <%end%>
    </div>
  </section>
</div>
