
<!-- NEW PET PROFILE -->
<div class="row justify-content-center">
  <div class="col mb-3">
    <h3 class="text-center"> <%= @pet.name%></h3>
    <h5 class="text-center text-muted"><%= Date.today.strftime('%a %d %b %Y')%></h5>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-10 col-sm-5 mb-5">
    <div class="card">
    <% if @pet.photo.attached? %>
      <%= cl_image_tag @pet.photo.key, height: 300, width: 400, crop: :fill, class: "img-fluid w-100" %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= @pet.name%></h5>
        <p class="card-text">
          <label for="" class="fw-bold">Raza:</label> <%= @pet.breed %>
        </p>
        <p class="card-text">
          <label for="" class="fw-bold">Especie:</label> <%= @pet.specie %>
        </p>
        <p class="card-text">
          <label for="" class="fw-bold">Género:</label> <%= @pet.gender %>
        </p>
        <p class="card-text">
          <label for="" class="fw-bold">Propietario:</label> <%= @pet.user.name %>
        </p>
        <p class="card-text">
        </p>
        <p class="card-text">
          <label for="" class="fw-bold">Correo propietario:</label> <%= current_user.email %>
        </p>
        <%= link_to "Editar perfil", edit_user_registration_path, class: "btn btn-primary" %>
      </div>
    </div>
    <br>
     <%= button_to "<< Ver mascotas", pets_path, method: :get, class: "btn btn-primary mx-1" %>
    <br>
    <%= button_to "Eliminar mascota", @pet, method: :delete, class: "btn btn-outline-secondary mx-1", data: {turbo_confirm: "Estas seguro?"} %>
    <hr>
  </div>

  <div class="col-10 col-sm-4">
    <div class="row row-cols-1">
      <div class="col mb-5">
        <div class="card">
          <h5 class="card-header m-0">Proximas citas</h5>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <% @pet.appointments.each do |appointment| %>
                <li class="list-group-item">
                  <div class="row justify-content-between">
                  <div class="col fw-bold"><%= appointment.title %></div>
                    <% if @pet.appointments.empty? %>
                      <div class="col text-center"><%= appointment.start_time&.strftime("%d/%m/%Y %H:%M")%></div>
                      <div class="col text-center"><%= appointment.title %></div>
                    <% end %>
                  </div>
                </li>
              <% end %>
            </ul>
            <%= button_to "Ver calendario", appointments_path, method: :get, class: "btn btn-primary mt-3" %>
            <br>
            <%= button_to "+ Agregar cita", new_pet_appointment_path(@pet), method: :get, class: "btn btn-primary mt-3" %>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <h5 class="card-header m-0">Documentos de <%= @pet.name%></h5>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <% @pet.owner_records.each do |record| %>
                <li class="list-group-item">
                  <%= cl_image_tag record.photo.key, height: 50, width: 50, crop: :fill, class:"rounded-circle img-fluid w3-left w3-margin-right", alt:"woman avatar"%>
                  <span class="w3-large"><%= record.title %></span><br>
                  <span><%= record.description %></span>
                </li>
              <% end %>
            </ul>
            <%= button_to "+ Agregar documentos", new_pet_owner_record_path(@pet), method: :get, class: "btn btn-primary mt-3" %>
            <br>
            <%= button_to " Ver documentos",  owner_records_path, method: :get, class: "btn btn-primary" %>
          </div>
        </div>
        <br>
        <br>
        <br>
        <%= button_to "+ Agregar otra mascota", new_pet_path, method: :get, class: "btn btn-primary mt-3" %>
            <br>
      </div>
    </div>
  </div>
</div>
