<div class="container">
  <div class="card my-4" style="width: 30rem;">
    <%# <%= locale["pet"].inspect%>
    <div class="card-body text-center">
      <% if @pet.photo.attached? %>
      <%= cl_image_tag @pet.photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
      <h2 class="mt-3"><%= @pet.name %></h2>
      <p style="font-weight: bold;">Gender: <%= @pet.gender %></p>
      <p style="font-weight: bold;">Breed: <%= @pet.breed %></p>
      <p>Owner: <%= @pet.user.email %></p>
    </div>
  <div class="card-body d-flex">
    <%= button_to "Back to pets", pets_path, method: :get, class: "btn btn-primary mx-1" %>
    <%= link_to "Edit pet", edit_pet_path(@pet), class: "btn btn-primary" %>
    <%= button_to "Eliminar", @pet, method: :delete, class: "btn btn-outline-secondary mx-1", data: {turbo_confirm: "Estas seguro?"} %>
    <%= link_to "Crear nueva cita", new_pet_appointment_path(@pet), class: "btn btn-primary"  %>
  </div>
</div>
