<div class="container">
  <h3 class="text-center" > Hola  <%= current_user.name%> <%= current_user.surname %></h3>
  <h4 class="text-center" >Nos encanta verte de nuevo en Petcare</h4>


  <hr class="featurette-divider">

    <div class="row featurette" style="display: flex; justify-content: center;">


        <div class="col-md-6">
          <div class="card" style="width: 28rem;">
            <img src="https://images.unsplash.com/photo-1542740348-39501cd6e2b4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" class="card-img-top mx-auto rounded-circle w-75" alt="">
            <div class="card-body">
              <h5 class="card-title"><%= current_user.name%></h5>
              <div class='d-flex justify-content-between' >
                <p class="card-text"> Ciudad: </i><%= current_user.city  %></p>
                <p class="card-text"> País: </i><%= current_user.country %></p>
                </div>
              <div class='d-flex justify-content-between' >
                <p class="card-text"> Teléfono: <i class="fa-light fa-cat-space"></i><%= current_user.telephone_number%></p>
                <p class="card-text"> Dirección: <i class="fa-light fa-cat-space"></i><%= current_user.address%></p>
              </div>
              <div class='d-flex justify-content-between' >
                <p class="card-text"> Documento CC: <i class="fa-solid fa-sheep"></i><%= current_user.cc%></p>
                <p class="card-text"> Correo: <i class="fa-light fa-cat-space"></i><%= current_user.email%></p>
              </div>
              <a href="#" class="btn btn-warning w-100">Editar perfil</a>
            </div>
          </div>
        </div>
    </div>
