<div class="row justify-content-center">
  <div class="col mb-3">
    <h3 class="text-center"> Hola  <%= current_user.name%> <%= current_user.surname %></h3>
    <h5 class="text-center text-muted"><%= Date.today.strftime('%a %d %b %Y')%></h5>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-10 col-sm-5 mb-5">
    <div class="card">
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, crop: :fill, class: "card-img-top", alt:"avatar"%>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= current_user.name%></h5>
        <p class="card-text">
          <label for="" class="fw-bold">Ciudad:</label> <%= current_user.city  %>
        </p>
        <p class="card-text">
          <label for="" class="fw-bold">País:</label> <%= current_user.country  %>
        </p>
        <p class="card-text">
          <label for="" class="fw-bold">Teléfono:</label> <%= current_user.telephone_number  %>
        </p>
        <p class="card-text">
          <label for="" class="fw-bold">Dirección:</label> <%= current_user.address %>
        </p>
        <p class="card-text">
          <label for="" class="fw-bold">ID:</label> <%= current_user.cc %>
        </p>
        <p class="card-text">
          <label for="" class="fw-bold">Correo:</label> <%= current_user.email %>
        </p>
        <%= link_to "Editar perfil", edit_user_registration_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <div class="col-10 col-sm-4">
    <div class="row row-cols-1">
      <div class="col mb-5">
        <div class="card">
          <h5 class="card-header m-0">Proximas citas</h5>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <% current_user.pets.each do |pet| %>
                <li class="list-group-item">
                  <div class="row justify-content-between">
                  <div class="col fw-bold"><%= pet.name %></div>
                    <% if !pet.appointments.empty? %>
                      <div class="col text-center"><%= pet.appointments.last.start_time&.strftime("%d/%m/%Y %H:%M")%></div>
                      <div class="col text-center"><%= pet.appointments.last.title %></div>
                    <% end %>
                  </div>
                </li>
              <% end %>
            </ul>
            <%= button_to "Ver calendario", appointments_path, method: :get, class: "btn btn-primary mt-3" %>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <h5 class="card-header m-0">Mascotas de <%= current_user.name%></h5>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <% current_user.pets.each do |pet| %>
                <li class="list-group-item">
                  <%= cl_image_tag pet.photo.key, height: 50, width: 50, crop: :fill, class:"rounded-circle img-fluid w3-left w3-margin-right", alt:"woman avatar"%>
                  <span class="w3-large"><%= pet.name %></span><br>
                  <span><%= pet.breed %></span>
                </li>
              <% end %>
            </ul>
            <%= button_to "+ Agregar nueva mascota", new_pet_path, method: :get, class: "btn btn-primary mt-3" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
