<h1>Edit appointment</h1>
<div class="container form">
  <%= simple_form_for(@appointment) do |f| %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.submit %>
  <% end %>
</div>>
