<div class="row justify-content-center">
  <div class="col-10">
    <%= month_calendar(events:  @appointments, attribute: :start_time, end_attribute: :end_time) do |date, meetings| %>
      <%= date %>
      <% meetings.each do |meeting| %>
          <a class="meeting" href="<%=appointment_path(meeting)%>">
            <p><%= meeting.title %></p>
            <p><%= meeting.pet.name %></p>
            <small><%= meeting.time unless meeting.multi_days? %>
            </small>
          </a>
      <% end %>
    <% end %>
    <%= button_to "<< Ver mascotas", pets_path, method: :get, class: "btn btn-primary my-3" %>
  <%= button_to "<< Volver al perfil", pages_profile_path, method: :get, class: "btn btn-primary my-3" %>
  </div>
  <%#= button_to "+ Agregar cita", new_pet_appointment_path(@pet), method: :post, class: "btn btn-primary mt-3" %>
  <br>

</div>
